html, body {
    width: 100%;
    /*adaptive*/
    min-width: 320px;
    height: 100%;
    /*font-family: 'Raleway', sans-serif;*/
    /*letter-spacing: .07em;*/
    /*adaptive*/ }
h1, h2, h3 {
    color: steelblue !important;
    margin: 0 !important;
}
hr {
    border: none;
    color: steelblue;
    background-color: steelblue; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
/*Главный контейнер, который задаёт отступ для всех страниц*/
/*.container {*/
    /*background: #f2f2f2;*/
    /*height: 100% !important;*/
    /*padding: 20px;*/
    /*-webkit-box-shadow: 0px 4px 15px 5px rgba(94,94,94,0.32);*/
    /*-moz-box-shadow: 0px 4px 15px 5px rgba(94,94,94,0.32);*/
    /*box-shadow: 0px 4px 15px 5px rgba(94,94,94,0.32);*/

/*}*/
a {
    text-decoration: none !important;
}
/*Хелп блоки и error блоки НАЧАЛО--------------------------------------*/
.help-block {
    width: 100%;
    color: #cf4e4e;
    font-size: 14px;
    margin: 0;

}
.has-error {
    border: 1px solid red !important;
}
/*Хелп блоки и error блоки КОНЕЦ---------------------------------------*/

/*ФОРМА РЕГИСТРАЦИИ НАЧАЛО------------------------------------------------------------------*/
/*Главный див для форм входа и регистрации*/
.register-container-main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.register-container {
    display: flex;
    width: 50%;
    flex-direction: column;
}
/*Голова формы(верхняя часть формы с загруглёнными краями и синим фоном)*/
.register-header {
    border: 1px solid #808080;
    background: steelblue;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Для тега <p>, который находится в голове формы, убираем внешние отступы*/
.register-header p {
    margin: 0;
}
.main-text {
    font-size: 18px;
}
.explain-text {
    font-size: 13px;
}
/*Тело формы, где поля ввода*/
.register-filds {
    padding: 30px 15px 0 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    border-top: 0;
    justify-content: flex-start;
    background: #fff;
}
/*Див для меток(label) и их инпутов*/
.register-filds-label-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
/*Див для чекбокса и кнопки*/
.register-filds-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.register-filds-label {
    width: 120px;
    padding-right: 10px;
    text-align: right;
    letter-spacing: 1px;
}
.register-filds-elements div {
    width: 100%;
}
.customer-data-container input,.register-filds input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #a2a2a2;
    /*font-style: italic;*/
}
.customer-data-container input:focus, .register-filds input:focus {
    outline: none;
    border: 1px solid #696969;
}
/*Кнопки*/
.middle-button {
    border-radius: 2px;
    border: 0;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 2px 15px 2px 15px;
    margin-right: 15px;
}
.middle-button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}
.middle-button:active {
    padding: 1px 14px 1px 14px;
}
.login-button {
    margin-right: 15px;
    border-radius: 2px;
    /*border: 1px solid #a2a2a2;*/
    background: steelblue;
    color: white;
    text-align: center;
    padding: 4px 0 4px 0;
    width: 120px !important;float: left;
}
.login-button:hover {
    cursor: pointer;
    background: #2b5372;
}
.login-button:active {
    background: #1b3447;
}
.login-button p {
    margin: 0;
    letter-spacing: 1px;
}
.register-button {
    position: relative;
    border-radius: 2px;
    border: none !important;
    background: steelblue;
    color: white;
    text-align: center;
    padding: 4px 0 4px 0;
    letter-spacing: 1px;
}
.register-button:hover {
    cursor: pointer;
    background: #2b5372;
}
.register-button:active {
    background: #1b3447;
}
.register-button p {
    margin: 0;
    letter-spacing: 1px;
}
.recover-password {
    vertical-align: sub;
}
/*ФОРМА РЕГИСТРАЦИИ КОНЕЦ------------------------------------------------------------------*/

/*CHECKBOX НАЧАЛО------------------------------------------------------------------*/
input[type=checkbox] + label {
    cursor:pointer;
    float: left;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-3px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;

}
input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}
/*CHECKBOX КОНЕЦ------------------------------------------------------------------*/

/*ЛИЧНЫЙ КАБИНЕТ.РЕДАКТИРОВАНИЕ ДАННЫХ. НАЧАЛО---------------------------------------------------*/
.personal-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.image-container {
    width: 20%;
    margin-top: 4px;
}
.customer-data-container {
    width: 40%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background: #fff;*/
}
.customer-image {
    margin-bottom: 15px;
    width: 99%;
    /*height: 250px;*/
    border: 1px solid #808080;
    background: #ffffff;
}
.customer-image img {
    max-width:100%;
    max-height:100%;
}
/*Див для меток(label) и их инпутов*/
.personal-filds-label-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.personal-filds-label {
    vertical-align: top;
    letter-spacing: 1px;
}
.personal-explain-text {
    font-size: 14px;
    color: steelblue;
}
/*Инпут для вставки фото*/
.customer-image-button {
    position: relative;
}
.customer-image-button #personal-photo {
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index:1;
}
/*ЛИЧНЫЙ КАБИНЕТ.РЕДАКТИРОВАНИЕ ДАННЫХ. КОНЕЦ---------------------------------------------------*/

/* НАЧАЛО Адаптив */
@media (max-width: 1200px) {
    .register-container {
        width: 60%;
    }
}
@media (max-width: 1000px) {
    .register-container {
        width: 80%;
    }
}
@media (max-width: 767px) {
    .register-container {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .register-header {
        align-items: left;
        flex-direction: column;
    }
    #go-to-register {
        margin-top: 10px;
        width: 150px;
    }
    #go-to-login {
        margin-top: 10px;
        width: 150px;
    }
    #go-to-site {
        margin-top: 10px;
        width: 150px;
    }
}
@media (max-width: 450px) {
    .flex-direction-column {
        margin-bottom: 0;
    }
    .flex-direction-column div {
        display: flex;
        flex-direction: column !important;
    }
    .flex-direction-column div a {
        margin-top: 10px;
    }
}
/* КОНЕЦ Адаптив */