@media (min-width: 768px) {
    .container {
        width: 95%;
    }
}

/*****ADAPTIVE for footer******/
@media (min-width: 1025px) {
    .footer__social__item:hover {
        opacity: 0.8; } }

@media (max-width: 1023px) {
    .menu--footer {
        bottom: 70px;
        padding: 45px 0 0 0; }
    .b-footer .b-search {
        bottom: 0; }
    .footer__copy {
        margin-left: 35px; }
    .footer__social {
        margin-right: 35px; } }

@media (max-width: 767px) {
    .for-main-desc-block {
        width: 140px;
    }
    #blok_one {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    #blok_one div {
        font-size: 14px;
    }
    .b-menu {
        height: auto;
    }

    .menu_footer {
        flex-wrap: wrap;
        padding: 15px 0 15px 15px;
    }

    .footer__copy {
        padding-left: 15px;
        margin-left: 10px !important;
        float: none;
    }

    .footer__social {
        float: none;
        padding: 10px 0 10px 25px;
    }

    .menu__item_footer {
        height: auto;
    }

    .menu__item__link_footer {
        line-height: 1.2;
        font-family: ToyotaText-Reg;
        text-decoration: underline;
        font-size: 13px;
        padding: 5px 0;

    }
    .b-footer__bottom {
        line-height: 1 !important;
        height: 100px
    }
    #blok1 {
        font-size: 13px;
    }
    #blok2 {
        font-size: 13px;
        padding: 7px;
    }
    #blok3 {
       padding-top: 4px;
        padding-bottom: 4px;
    }
    .close-button {
        font-size: 11px;
    }
    .personal-container form {
        flex-direction: column;
        justify-content: flex-start;
    }
}
/***** END! ADAPTIVE for footer END!******/

/*адаптив для меню,навигации*/
@media (max-width: 767px) {
    .mob-nav-text {
        display: none;
    }
}
/*Продукты контейнер*/
@media (min-width: 1980px) {
    .category-item {
        width: calc(100% / 6 - 10px);
    }
}
@media (min-width: 1300px) {
    .category-item {
        width: calc(100% / 5 - 10px);
    }
}
@media (max-width: 1023px) {
    .category-item {
        width: calc(100% / 3 - 10px);
    }
}
@media (max-width: 780px) {
    .category-item {
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 520px) {
    .category-item {
        width: calc(100% / 1 - 10px);
    }
    .order-number {
        width: 100px;
    }
    .category-item__price-measure span {
        font-size: 16px;
    }
}
@media (max-width: 390px) {
    .bread-crumbs-link {
        font-size: 18px;
    }
    .bread-crumbs-on-page {
        font-size: 18px;
    }
    .bread-crumbs-circle {
        width: 8px;
        height: 8px;
    }
    .order-number {
        width: 100px;
    }
    .category-item__price-measure span {
        font-size: 16px;
    }
}
@media (max-width: 645px) {
    .register-button {
        width: 100% !important;
    }
    .person-success-button-div {
        text-align: center;
    }
}
@media (min-width: 767px) {
    .popup_mob-nav-elem {
        display: none;
    }
}
@media (max-width: 767px) {
    .customer-data-container {
        width: 100%;
    }
    .menu__item--basket__amount {
        top: 4px;
        right: 99px;
    }
    .navbar-header {
    display: none;
    }
    .mob-nav-text {
        display: inline;
    }
    #mob-www-logo {
        display: inline;
    }
    .mobile-nav-bar-1 {
        display: block;
     }

    .mobile-nav-bar-2 {
        display: none;
    }
    .navbar-default {
        /*background: #DCDCDC;*/
        border-radius: 0;
    }
    .mobile-nav-head {
        height: 30px;
        margin-top: 11px;
        padding: 3px;
    }
    .mob-right {
        float: right;
    }
    .mob-nav-elem {
        display: inline-block;
        padding: 3px;
        transition: all .3s ease-in;
    }
    .mob-nav-elem:hover {
        cursor: pointer;
    }
    .mob-nav-elem-active {
        transform: rotate(180deg);
    }
    .mob-rectangle {
        width: 20px;
        height: 3px;
        background: #696969;
        margin-bottom: 3px;
    }
    .mob-menu-right {
        margin-top: 1px;
        font-size: 17px;
        float: right;
        margin-right: 20px;
        color: #696969;
    }
    .mob-menu-right:hover {
        cursor: pointer;
        color: #333;
    }
    h2 {
        font-size: 24px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 320px);
        }
    }
    .modal-animation__item span:nth-child(3) {
        right: 0;
    }
}

@media (max-width: 600px) {
    .lesson-theme {
        max-width: 60%;
    }
    .modal-animation__item span:nth-child(2) svg {
        height: 45px;
        width: 45px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 100px;
        width: 100px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 270px);
        }
    }
    .modal-animation__item {
        padding: 40px 0;
    }
}

@media (max-width: 500px) {
    .modal-animation__item span:nth-child(2) svg {
        height: 35px;
        width: 35px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 80px;
        width: 80px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 225px);
        }
    }
}
@media (max-width: 440px) {
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 190px);
        }
    }
    .modal-animation__item span:nth-child(2) svg {
        height: 30px;
        width: 30px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 70px;
        width: 70px;
    }
}
/*Блок с заданиями*/
@media (max-width: 900px) {
    .block-lesson {
        width: 47%;
    }
}
@media (max-width: 571px) {
    .order-filter-main {
        flex-direction: column;
    }
    .order-filds-label-input {
        width: 100%;
    }
    .order-filds-label-input:nth-child(2) {
        width: 100%;
    }
    .order-instruments {
        flex-direction: column;
    }
    .Select.margin-right-10 {
        margin: 0;
    }
    .order-filds-label-input:nth-child(3) {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .orders-item {
        overflow-x: scroll;
    }
    .order-instruments {
        white-space: nowrap;
        width: 433px !important;
    }
    .cart-order__total {
        white-space: nowrap;
        width: 423px !important;
    }
}
@media (max-width: 500px) {
    /*.h1 {*/
        /*font-size: 14px !important;*/
    /*}*/
}

@media (max-width: 767px) {
    .modal-dialog-success {
        right: 4%;
    }
}
@media (min-width: 767px) {
    .modal-dialog-success {
        right: 5%;
    }
}
@media (max-width: 540px) {
    .modal-dialog-success {
        right: 6%;
    }
}
/* Таблица с продуктами */
@media (max-width: 1050px) {
    .table-30-procent {
        width: 50%;
    }
    .table-40-procent-td {
        font-size: 16px;
    }
}
@media (max-width: 870px) {
    .cart-product-image {
        display: none;
    }
    td {
        font-weight: normal;
        font-size: 15px;
    }
    .table-40-procent-td {
        font-weight: normal;
        font-size: 15px;
        text-align: center;
    }
    .cart-order__total {
        font-size: 18px;
    }
    .cart-order__total {
        font-size: 20px;
    }
}
@media (max-width: 690px) {
    th {
        font-size: 14px;
        font-weight: normal;
    }
    .table-25-procent {
        width: 21%;
    }
    td {
        font-weight: normal;
        font-size: 14px;
    }
    .table-40-procent-td {
        font-size: 14px;
    }
}
@media (max-width: 530px) {
    .cart-order__total {
        font-size: 18px;
    }
}