@media (max-width: 1980px) {
    .container {
        width: 70%;
    }
}
@media (max-width: 1650px) {
    .container {
        width: 80%;
    }
}
@media (max-width: 1300px) {
    .container {
        width: 95%;
    }
}
@media (max-width: 410px) {
    .container {
        width: 98%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 767px) {
    .personal-container form {
        flex-direction: column;
        justify-content: flex-start;
    }
}
/*адаптив для меню,навигации*/
@media (max-width: 767px) {
    .mob-nav-text {
        display: none;
    }
}
@media (max-width: 1030px) {
    .category-item {
        width: calc(100% / 3 - 10px);
    }
}
@media (max-width: 815px) {
    .category-item {
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 615px) {
    .category-item {
        width: calc(100% / 1 - 25%);
    }
    .order-number {
        width: 100px;
    }
    .category-item__price-measure span {
        font-size: 16px;
    }
}
@media (max-width: 475px) {
    .category-item {
        width: calc(100% / 1 - 10px);
    }
}
@media (max-width: 390px) {
    .bread-crumbs-link {
        font-size: 18px;
    }
    .bread-crumbs-on-page {
        font-size: 18px;
    }
    .bread-crumbs-circle {
        width: 8px;
        height: 8px;
    }
    .order-number {
        width: 100px;
    }
    .category-item__price-measure span {
        font-size: 16px;
    }
}
@media (max-width: 645px) {
    .register-button {
        width: 100% !important;
    }
    .person-success-button-div {
        text-align: center;
    }
    .for-mob-nav-elem {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .popup_mob-nav-elem {
        display: none;
    }
}
@media (max-width: 767px) {
    .customer-data-container {
        width: 100%;
    }
    .menu__item--basket__amount {
        top: 4px;
        right: 62px;
    }
    .navbar-header {
    display: none;
    }
    .mob-nav-text {
        display: inline;
    }
    #mob-www-logo {
        display: inline;
    }
    .mobile-nav-bar-1 {
        display: block;
     }

    .mobile-nav-bar-2 {
        display: none;
    }
    .navbar-default {
        /*background: #DCDCDC;*/
        border-radius: 0;
    }
    .mobile-nav-head {
        height: 30px;
        margin-top: 11px;
        padding: 3px;
    }
    .mob-right {
        float: right;
    }
    .mob-nav-elem {
        display: inline-block;
        padding: 3px;
        transition: all .3s ease-in;
    }
    .mob-nav-elem:hover {
        cursor: pointer;
    }
    .mob-nav-elem-active {
        transform: rotate(180deg);
    }
    .mob-rectangle {
        width: 20px;
        height: 3px;
        background: #696969;
        margin-bottom: 3px;
    }
    .mob-menu-right {
        margin-top: 1px;
        font-size: 17px;
        float: right;
        margin-right: 20px;
        color: #696969;
    }
    .mob-menu-right:hover {
        cursor: pointer;
        color: #333;
    }
    h2 {
        font-size: 24px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 320px);
        }
    }
    .modal-animation__item span:nth-child(3) {
        right: 0;
    }
}

@media (max-width: 600px) {
    .lesson-theme {
        max-width: 60%;
    }
    .modal-animation__item span:nth-child(2) svg {
        height: 45px;
        width: 45px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 100px;
        width: 100px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 270px);
        }
    }
    .modal-animation__item {
        padding: 40px 0;
    }
    /*Корзина*/
    .cart-error-mobile {
        margin-top: 10px;
    }
    .cart-scroll-adaptive::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: #f0f0f0;
    }
    .cart-scroll-adaptive::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    }
    .cart-scroll-adaptive::-webkit-scrollbar-thumb {
        background-color: #D3D3D3;
    }
    .cart-scroll-adaptive::-webkit-scrollbar-thumb:hover {
        background-color: #808080;
    }
    .cart-scroll-adaptive {
        overflow-x: scroll;
        /*white-space: nowrap;*/
    }
    .flex-box-between {
        flex-direction: column;
    }
    .flex-box-between div {
        flex-direction: column !important;
    }
    .flex-box-between div {
        margin-top: 10px;
    }
    .cart-products-table__cart {
        width: 533px;
    }
    .cart-comment {
        width: 520px;
    }
    .cart_total {
        margin: 0 !important;
        font-size: 18px;
        width: 533px !important;
    }
    .quota-style {
        width: 533px !important;
        flex-direction: column !important;
        /*align-items: left !important;*/
    }
    .quota-style div {
        margin-left: 0 !important;
    }
    .scroll-to-error {
        white-space: nowrap !important;
    }
}

/*@media (max-width: 520px) {*/
    /*.cart-products-table__cart {*/
        /*width: 533px !important;*/
    /*}*/
/*}*/
@media (max-width: 500px) {
    .modal-animation__item span:nth-child(2) svg {
        height: 35px;
        width: 35px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 80px;
        width: 80px;
    }
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 225px);
        }
    }
}
@media (max-width: 440px) {
    @keyframes transitionTiming {
        0% {
            left:0;
        }
        100% {
            left:calc(100% - 190px);
        }
    }
    .modal-animation__item span:nth-child(2) svg {
        height: 30px;
        width: 30px;
    }
    .modal-animation__item span:nth-child(3) svg, .modal-animation__item span:nth-child(1) svg {
        height: 70px;
        width: 70px;
    }
}
/*Блок с заданиями*/
@media (max-width: 900px) {
    .block-lesson {
        width: 47%;
    }
}
@media (max-width: 571px) {
    .order-filter-main {
        flex-direction: column;
    }
    .order-filds-label-input {
        width: 100%;
    }
    .order-filds-label-input:nth-child(2) {
        width: 100%;
    }
    .order-instruments {
        flex-direction: column;
    }
    .Select.margin-right-10 {
        margin: 0;
    }
    .order-filds-label-input:nth-child(3) {
        width: 100%;
    }
}
/* скроллбар блока orders-item-----------------*/
.orders-item::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #f0f0f0;
}
.orders-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}
.orders-item::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
}
.orders-item::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}
/*КОНЕЦ сроллбара--------------------------------------*/
@media (max-width: 561px) {
    .orders-item {
        overflow-x: scroll;
    }
    .cart-products-table__order {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 462px !important;
    }
    .order-instruments {
        white-space: nowrap;
        width: 462px !important;
    }
    .order_total {
        margin: 0 !important;
        white-space: nowrap;
        width: 462px !important;
    }
}

@media (max-width: 520px) {
.for-mob-nav-elem {
    width: 90%;
}
}
@media (max-width: 500px) {
    /*.h1 {*/
        /*font-size: 14px !important;*/
    /*}*/
}
@media (min-width: 767px) {
    .modal-dialog-success {
        right: 5%;
    }
}
@media (min-width: 1300px) {
    .modal-dialog-success {
        right: 11%;
    }
}
@media (min-width: 1650px) {
    .modal-dialog-success {
        right: 16%;
    }
}
@media (max-width: 767px) {
    .modal-dialog-success {
        right: 6%;
    }
}
@media (max-width: 500px) {
    .modal-dialog-success {
        right: 7%;
    }
}
@media (max-width: 400px) {
    .modal-dialog-success {
        width: 240px;
    }
    .modal-header-success {
        padding: 9px;
    }
    .modal-title {
        font-size: 15px;
    }
}
/* Таблица с продуктами */
@media (max-width: 1050px) {
    .table-30-procent {
        width: 50%;
    }
    .table-40-procent-td {
        font-size: 16px;
    }
}
@media (max-width: 870px) {
    .cart-product-image {
        display: none;
    }
    td {
        font-weight: normal;
        font-size: 15px;
    }
    .table-40-procent-td {
        font-weight: normal;
        font-size: 15px;
        text-align: center;
    }
    .order_total {
        font-size: 20px;
    }
}
@media (max-width: 690px) {
    th {
        font-size: 14px;
        font-weight: normal;
    }
    .table-25-procent {
        width: 21%;
    }
    td {
        font-weight: normal;
        font-size: 14px;
    }
    .table-40-procent-td {
        font-size: 14px;
    }
}
@media (max-width: 530px) {
    .order_total {
        font-size: 18px;
    }
    .for-mob-nav-elem {
        width: 89%;
    }
}
@media (max-width: 410px) {
    .for-mob-nav-elem {
        width: 96%;
    }
}
/* Главная */
@media (max-width: 980px) {
    .xf-you-love__list {
        margin: 30px 0;
    }
}
@media (max-width: 900px) {
    .xf-you-love__list {
        justify-content: space-between;
    }
}
@media (max-width: 820px) {
    .xf-you-love__list>div {
        flex-basis: 47% !important;
    }
}
@media (max-width: 700px) {
    .xf-wrapper {
        padding-top: 30px;
    }
    .xf-you-love__item {
        font-size: 15px;
        margin-bottom: 13px;
    }
    .xf-you-love__list>div {
        flex-basis: 45% !important;
    }
    .xf-you-love__header {
        font-size: 35px;
    }
}
@media (max-width: 490px) {
    .xf-wrapper {
        padding-top: 20px;
    }
    .xf-you-love__list {
        display: block;
    }
    .xf-you-love__header {
        font-size: 30px;
    }
    .xf-you-love__subheader {
        font-size: 18px;
    }
}
@media (max-width: 380px) {
    .xf-wrapper {
        padding-top: 15px;
    }
    .xf-you-love__header {
        font-size: 25px;
    }
    .xf-you-love__subheader {
        font-size: 17px;
    }
}
/*****ADAPTIVE for footer******/
@media (min-width: 1025px) {
    .footer__social__item:hover {
        opacity: 0.8; } }

@media (max-width: 1023px) {
    .menu--footer {
        bottom: 70px;
        padding: 45px 0 0 0; }
    .b-footer .b-search {
        bottom: 0; }
    /*.footer__copy {*/
        /*margin-left: 35px; }*/
    .footer__social {
        margin-right: 35px; } }

@media (max-width: 767px) {
    .for-main-desc-block {
        width: 140px;
    }
    #blok_one {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    #blok_one div {
        font-size: 14px;
    }
    .b-menu {
        height: auto;
    }

    .menu_footer {
        flex-wrap: wrap;
        padding: 15px 0 15px 15px;
    }

    .footer__copy {
        padding-left: 15px;
        margin-left: 10px !important;
        float: none;
    }

    .footer__social {
        float: none;
        padding: 10px 0 10px 25px;
    }

    .menu__item_footer {
        height: auto;
    }

    .menu__item__link_footer {
        line-height: 1.2;
        font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
        text-decoration: underline;
        font-size: 14px;
        padding: 5px 0;

    }
    .b-footer__bottom {
        line-height: 1 !important;
        height: 40px
    }
    #blok1 {
        font-size: 13px;
    }
    #blok2 {
        font-size: 13px;
        padding: 7px;
    }
    #blok3 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .close-button {
        font-size: 11px;
    }
}
/***** END! ADAPTIVE for footer END!******/
@media (max-width: 565px) {
    .contacts-item span {
        font-size: 13px;
    }
    .contacts-item {
        margin-right: 20px;
    }
    .popup_mob-nav-elem {
        top: 105px;
    }
}
@media (max-width: 500px) {
    .contacts-item span {
        font-size: 12px;
    }
}
@media (max-width: 470px) {
    .contacts-item {
        margin-right: 10px;
    }
    .success-page__content {
        padding: 0;
    }
    .success-page {
        padding: 5px;
    }
}
@media (max-width: 435px) {
    .contacts-item {
        margin-right: 5px;
    }
}
@media (max-width: 420px) {
    .contacts-main div:nth-child(2) {
        display: none;
    }
}

@media (max-width: 380px) {
    .success-page__title {
        font-size: 19px !important;
    }
}
/*@media (max-height: 500px) {*/
    /*.modal-content-loader {*/
        /*margin-top: calc(100vh / 4) !important;*/
    /*}*/
/*}*/