.hello-world p {
    color: green;
    font-size: 20px;
}
.image-div {
    position: relative;
    background-image: url(/images/image_1.png);
    text-align: left;
    background-repeat: no-repeat;
    height: 250px;
    margin-bottom: 40px;
    margin-top: 25px;
}